DISCORD_TOKEN=replace_with_your_bot_token
PORT=3000
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/replace_with_deployment_id/exec
GOOGLE_SHEETS_WEBHOOK_SECRET=replace_with_a_long_random_secret
